{% extends 'base.html.twig' %}

{% block title %}Booktique{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <h1>Bienvenue sur Booktique</h1>
{% endblock %}

{% block javascripts %}{% endblock %}
