{% extends 'basebackoffice.html.twig' %}

{% block title %}Booktique - back office{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div>Bienvenue sur le back office de Booktique</div>
{% endblock %}

{% block javascripts %}{% endblock %}