{% extends 'base.html.twig' %}

{% block title %}Booktique{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div>Bienvenue sur Booktique</div>
{% endblock %}

{% block javascripts %}{% endblock %}
