{% extends 'base.html.twig' %}

{# Boutique. Affiche les catégories. #}

{% block title %}Produit index{% endblock %}

{% block body %}
    <div>
        <h2>BOUTIQUE</h2>
    </div>

    {# Catégorie#}
    <div>
        <ul>
            {% for cat in categories %}
                <li><a href="{{ path('boutique_categorie', {categorie: cat.id}) }}">{{ cat.libelle }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
