{% extends 'base.html.twig' %}

{% block title %}Booktique - Connexion{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <h2>Connexion</h2>
    {{ include('utilisateur/_form_connection.html.twig') }}
{% endblock %}

{% block javascripts %}{% endblock %}