{% extends 'base.html.twig' %}

{% block title %}Booktique - Inscription{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <h2>Inscription</h2>
    {{ include('utilisateur/_form_inscription.html.twig') }}
{% endblock %}

{% block javascripts %}{% endblock %}